<!-- <link ng-href="{{ClientDirective}}assets/dpDialog/contents/style.css" rel="stylesheet" /> -->
<link ng-href="assets/dpDialog/contents/style.css" rel="stylesheet" />
<div class="modal-header" ng-show="Config.Title" style="background-color: var(--Header_Popup_Color);"
    data-keyboard="false" data-backdrop="static">
    <h3 class="modal-title" style="color:white">{{Items.title|translate}}
    </h3>
</div>
<div class="modal-body">
    <h3>{{Items.content}}</h3>
    <h3>{{Items.contentNewLine}}</h3>
    <h3>{{Items.contentNewLine2}}</h3>
    <!-- 
    {{Items.contentNewLine}}
    <div ng-repeat="ii in Items.contentNewLine">{{ii}}</div> -->
    <!-- <h3 ng-repeat="i in Items.contentNewLine track by $index" ng-bind-html="trushedHtml(i)" >{{i}}</h3> -->


    <!-- {{msg}} -->
</div>

<div class="modal-footer" ng-show="Config.Confirm">
    <button class="btn btn-primary display-inline" ng-click="ok()" style="min-width:80px" autofocus>YES</button>
    <button class="btn btn-danger display-inline" ng-click="cancel()" style="min-width:80px">NO</button>
</div>
<div class="modal-footer" ng-show="Config.MessageBox">
    <button class="btn btn-primary display-inline" data-dismiss="modal" ng-click="ok()"
        style="min-width:80px">Close</button>
</div>