$kl-blue: #3861c2 !default;
$kl-blue-hover: #2a31bb !default;
$kl-blue-light: #38AFF1 !default;
$kl-purple-hover: #AE49FF !default;
$kl-purple: #C897FF !default;
$kl-yellow: #FFDD93 !default;
$kl-yellow-hover: #FFDD68 !default;
$kl-green: #42a76d !default;
$kl-green-hover: #35d87a !default;
$kl-green-light: #58C298 !default;
$kl-red: #e74c3c !default;
$kl-red-hover: #c0392b !default;
$kl-orange: #e67e22 !default;
$kl-orange-hover: #d35400 !default;
$kl-default-color: #cecece !default;
$kl-default-color: #e0e0e0 !default;
$dark-color: #2a2a2a;
$secondary-color: #0375BE !default;
$radio-fill-color: $secondary-color !default;
$radio-empty-color: #757575 !default;
$radio-border: 2px solid $radio-fill-color !default;
$input-disabled-color: #D1D1D1 !default;
$input-background: #FFF !default;
$input-disabled-solid-color: $input-disabled-color !default;
$shadow-br-color: rgba(31, 31, 31, 0.60);
$shadow-br-color-before: rgba(236, 240, 241, .3);
