.div-shadow {
    -webkit-box-shadow: 0 1px 4px $shadow-br-color;
    -moz-box-shadow: 0 1px 4px $shadow-br-color;
    box-shadow: 0 1px 4px $shadow-br-color;
}

.txt-form {
    vertical-align: middle;
    line-height: 30px;
}

.form-right {
    float: right;
}

.form-left {
    float: left;
}

.newline {
    display: block;
    white-space: pre-line;
}

.form-inline {
    display: inline;
}

.col-fixed-right {
    position: absolute !important;
    width: 150px;
    right: 0;
    background: #e0e0e0;
}

.no-padding {
    padding: 0px;
}

.form-topbox {
    margin-top: 10px;
    z-index: 1;
}

.form-textpanel {
    vertical-align: middle;
    line-height: 30px;
}

.input-margin {
    margin-top: 10px;
}

.sidebar-list {
    padding: 0 44px !important;
    color: $dark-color !important;
}

.kl-layout {
    margin: 30px 0px 60px 0px;
}

.form-margin {
    margin-top: 4px;
    margin-bottom: 4px
}

.btn-notify {
    position: relative;
}

.btn-notify[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: .7em;
    background: #FF5655;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}