    * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    .timeline {
        background: #fff;
        margin-top: 10px;
        height: 150px;
        position: relative;
    }
    
    hr {
        height: 10px;
        width: 100%;
        background-color: #6d6dff;
        position: absolute;
        top: 50%;
        margin-top: -10px;
    }
    
    .events {
        position: absolute;
    }
    
    .event {
        background-color: #6d6dff;
        float: left;
        margin: 0px 10px;
        position: relative;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
        color: #fff;
        cursor: pointer;
    }
    
    .event:nth-child(odd) {
        top: 15px;
    }
    
    .event:nth-child(odd):after {
        content: "";
        height: 0;
        width: 0;
        border-top: 12px solid #6d6dff;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        position: absolute;
        top: 29px;
        left: 10px;
    }
    
    .event:nth-child(odd):before {
        content: "";
        height: 12px;
        width: 12px;
        border-radius: 12px;
        position: absolute;
        background-color: #6d6dff;
        border: 3px solid #fff;
        top: 46px;
        left: 12px;
    }
    
    .event:nth-child(odd):hover:before,
    .event:nth-child(even):hover:before {
        box-shadow: 0px 0px 5px #000;
        background-color: #333;
    }
    
    .event:nth-child(odd):hover,
    .event:nth-child(even):hover {
        box-shadow: 0px 0px 5px #000;
    }
    
    .event:nth-child(even) {
        top: 95px;
    }
    
    .event:nth-child(even):after {
        content: "";
        height: 0;
        width: 0;
        border-bottom: 12px solid #6d6dff;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        position: absolute;
        top: -11px;
        left: 10px;
    }
    
    .event:nth-child(even):before {
        content: "";
        height: 12px;
        width: 12px;
        border-radius: 12px;
        position: absolute;
        background-color: #6d6dff;
        border: 3px solid #fff;
        top: -34px;
        left: 12px;
    }