<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="assets/kasco-wing/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/kasco-wing/javascripts/particles/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="logintop col-lg-12 col-md-12 col-sm-12"
        style="padding-left: 0px !important; padding-right: 0px !important;">

    </div>
    <div class="boxlogin">
        <div style="display: flex;
        justify-content: center;
        align-items: center;">
            <img src="{{logopath2}}" alt="" height="100">
        </div>
        <div style="padding-top: 10px;">
            <div>
                <input ng-model="loginData.User" placeholder="Username" type="text" value="" />
            </div>
            <div class="overlap-text" style="padding: 45px 0;">
                <input autocomplete="new-password" ng-model="loginData.Password" type="password" placeholder="Password"
                    class="input-2" pc-enter="login(loginData.User,loginData.Password)" />
                <div style="margin-top: 5px;">
                    <b href="#" ng-click="forgetpassword(loginData.User)" style="color: #FF6433;">Forgot Password?</b>
                </div>
            </div>
            <div>

                <div class="col text-center">
                    <button style="width: 200px;" class="btn rounded-pill" style="background-color: gray;"
                        ng-click="login(loginData.User,loginData.Password)"><span
                            style="text-align: center;color: white;">Login</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="loginbottom">

    </div>
    <!-- scripts -->

    <script src="assets/kasco-wing/styles/js/jquery.js"></script>
    <script src="assets/kasco-wing/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="assets/kasco-wing/javascripts/particles/js/particles.js"></script>
    <script src="assets/kasco-wing/javascripts/particles/js/app.js"></script>

</body>

</html>