<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="assets/kasco-wing/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/kasco-wing/javascripts/particles/css/style.css">
    <title>Document</title>
</head>

<body>
    <!--<div id="particles-js"></div> เอายุงออก --> 
    <div class="logintop col-lg-12 col-md-12 col-sm-12"
        style="padding-left: 0px !important; padding-right: 0px !important;">
        <!-- <div class="row">
            <div class="col-md-6">
                <a href="javascript:void(0)" class="logo">
                    <img ng-src="{{logopath2}}" alt="TMS LOGISTICS" style="width: 80px; margin-left: 2em;" />
                </a>
            </div>
            <div class="col-md-6" style="display: flex; justify-content: end; align-items: center;">
                <div class="m-1" style="height: 10px; width: 10px; border-radius: 50%; background-color: #1EBCC5;"
                    ng-click="ChangeTheme(1)"></div>
                <div class="m-1" style="height: 10px; width: 10px; border-radius: 50%; background-color: #FF6433;"
                    ng-click="ChangeTheme(2)"></div>
            </div>
        </div> 
        <div class="row">
            <div class="kasco-wing-login-header" style="width: 100%;">
                <div class="col-md-5 col-xs-5 col-sm-5 page-header-left" style="left: auto;">
                    <div class="left-wrapper">
                        <span>KASCO WING SERIES {{version_no}}</span>
                    </div>
                </div>
                <div class="col-md-7 col-xs-7 col-sm-7 page-header-right">
                    <div class="right-wrapper">
                        <span>www.kascoit.net</span>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="boxlogin">
        <div style="display: flex;
        justify-content: center;
        align-items: center;">
            <!-- <span>Welcome</span>
            <h1>LOGIN</h1>
            <h1>KASCO TMS</h1> -->
            <img src="{{logopath2}}" alt="" height="100">
        </div>
        <div style="padding-top: 10px;">
            <div>
                <input ng-model="loginData.User" placeholder="Username" type="text" value="" />
            </div>
            <div class="overlap-text" style="padding: 45px 0;">
                <input autocomplete="new-password" ng-model="loginData.Password" type="password" placeholder="Password"
                    class="input-2" pc-enter="login(loginData.User,loginData.Password)" />
                    <div style="margin-top: 5px;">
                        <b href="#" ng-click="forgetpassword(loginData.User)" style="color: #FF6433;">Forgot Password?</b>
                    </div>
            </div>
            <!-- <div >
                <input placeholder="Password" type="password" value="" />
            </div> -->
            <div>
                <!-- <button class="btn btn-block" style="background-color: var(--MainColor);"
                    ng-click="login(loginData.User,loginData.Password)"><span style="float: right;color: white;">Sign
                        in</span>
                </button> --> 
                <div class="col text-center">
                    <button style="width: 200px;" class="btn rounded-pill" style="background-color: gray;"
                        ng-click="login(loginData.User,loginData.Password)"><span style="text-align: center;color: white;">Login</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="loginbottom">
        <!--<div class="col-md-4 box-bottom" style="text-align: center;">
            <div>
                <p style="font-size: 11px;">Copyright &copy; Kasco It Co.,Ltd</p>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="col-md-1 col-xs-1 box-bottom">
                <div>
                    <p class="text-number">01</p>
                </div>
            </div>
            <div class="col-md-2 col-xs-1 box-bottom box-text">
                <div>
                    <p>STANDARD</p>
                    <p>EXPRESS</p>
                </div>
            </div>
            <div class="col-md-1 col-xs-1 box-bottom">
                <div>
                    <p class="text-number">02</p>
                </div>
            </div>
            <div class="col-md-2 col-xs-1 box-bottom box-text">
                <div>
                    <p>CROSS DOCKING</p>
                    <p>DISTRIBUTING</p>
                    <p>CENTER</p>
                </div>
            </div>
            <div class="col-md-1 col-xs-1 box-bottom">
                <div>
                    <p class="text-number">03</p>
                </div>
            </div>
            <div class="col-md-2 col-xs-1 box-bottom box-text">
                <div>
                    <p>TRANSIT</p>
                    <p>CROSS BORDER</p>
                    <p>LOGISTICS</p>
                </div>
            </div>
            <div class="col-md-1 col-xs-1 box-bottom">
                <div>
                    <p class="text-number">04</p>
                </div>
            </div>
            <div class="col-md-2 col-xs-1 box-bottom box-text">
                <div>
                    <p>INTERSTATE</p>
                    <p>MUTIMODEL</p>
                    <p>TRANSPORT</p>
                </div>
            </div>
        </div> -->
    </div>
    <!-- scripts -->

    <script src="assets/kasco-wing/styles/js/jquery.js"></script>
    <script src="assets/kasco-wing/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="assets/kasco-wing/javascripts/particles/js/particles.js"></script>
    <script src="assets/kasco-wing/javascripts/particles/js/app.js"></script>

</body>

</html>